---
import CreateProjectContainer from "../components/CreateProject/CreateProjectContainer";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ðŸ‹ðŸ½ Gym">
  <main class="m-10 flex flex-col justify-center gap-5 items-center">
    <Project title="ðŸ‹ðŸ½ Gym" />
    <Project title="ðŸ‡¬ðŸ‡§ Learning English" />
    <CreateProjectContainer client:visible />
  </main>
</Layout>
