---
import CreateProjectContainer from "../components/CreateProject/CreateProjectContainer";
import ProjectList from "../components/ProjectList";
import Layout from "../layouts/Layout.astro";
---

<Layout title="HeatmapHub">
  <main class="m-4 flex flex-col justify-center gap-5 items-center">
    <ProjectList client:only="react" />
    <CreateProjectContainer client:visible />
  </main>
</Layout>
