---
interface Props {
  date: Date;
  selected: boolean;
}

const { date, selected } = Astro.props;
const dateStr = date?.toISOString().split("T")[0];
---

<div
  class="w-3 h-3 rounded-sm"
  class:list={[selected ? "color-selected" : "color-unselected"]}
  title={dateStr}
>
</div>

<style>
  .color-selected {
    background-color: #50c878;
  }
  .color-unselected {
    background-color: #50c87830;
  }
</style>
