---
import Day from "./Day.astro";

const weeks = Array.from({ length: 52 }).map((_, weekDiff) => {
  return Array.from({ length: 7 }).map((_, dayDiff) => {
    const date = new Date();
    date.setDate(date.getDate() - 6 - weekDiff * 7);
    date.setUTCHours(0, 0, 0, 0);
    date.setDate(date.getDate() + dayDiff);

    return {
      date,
      selected: Math.random() < 0.5,
    };
  });
});
---

<div
  class="p-1 w-full overflow-y-auto inline-grid grid-rows-7 grid-flow-col gap-1"
  dir="rtl"
>
  {
    weeks.map((week) =>
      week.map((day) => <Day date={day.date} selected={day.selected} />)
    )
  }
</div>
