---
import Heatmap from "./Heatmap.tsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="p-3 max-w-4xl w-full border rounded-md">
  <h1 class="text-lg mb-3">{title}</h1>
  <Heatmap client:idle />
</section>
