<body class="p-3">
	<nav class="max-w-4xl h-14 mx-auto flex justify-center">
		<h1 class="text-center my-auto text-4xl font-bold">Heatmap<span class="text-green-600">Hub</span></h1>
	</nav>
	<slot />
</body>